<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
 <style>
    html {
      height: 100%;
    }
    body {
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    h1 { color: blue; }
  </style>
<body background="/images/fondo3.jpg" >

	<header th:replace="plantilla/template :: header"></header>
	
	<footer th:replace="plantilla/template :: footer"></footer>

</body>
</html>¡